html {
    /* background-image: url(https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1750&q=80); */
    background-image: url(https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80);
    background-size: 108%;

    /* background-image: url(https://images.unsplash.com/photo-1530508777238-14544088c3ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
    background-size: cover;
    background-repeat: no-repeat; */
} 

.grid-title {
    text-align: center;
    margin-bottom: 50px;
    color: white
}

.grid-subtitle {
    text-align: center;
    margin-bottom: 50px;
    color: white
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 100px;
  }
  
  .grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(151, 224, 255, 0.2);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
    border-radius: 10px;
    border-color: #fff;
    padding: 40px;
    height: 100%;
    width: 90%;
    position: relative;
  }
  
  .grid-cell a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    color: white;
  }

  .topic-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.5rem;
  }
  
  .grid-cell:hover .topic-list {
    display: inline-block; /* check this */
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px; /* add a small margin to separate the topic list from the button text */
    z-index: 1; /* ensure the topic list appears above other elements */
  }
  