@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bruno+Ace+SC&family=M+PLUS+Code+Latin:wght@100;200;300;400;500;600;700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.5);
    
  }

  .login-heading {
    font-family: 'Bangers', cursive;
    font-size: 40px;
    letter-spacing: 3px;
  }
  
  .signin-label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'M PLUS Code Latin', sans-serif;
  }
  
  .signin-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .signin-button {
    font-family: 'M PLUS Code Latin', sans-serif;
    letter-spacing: 1px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #318734;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
        display: block;
        margin: 0 auto;

      
  }
  