/* 
html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background: linear-gradient(45deg, #f3ec78, #af4261);
  } */
  
  .initials {
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1;
    border-radius: 50%;
    /* background colour gradient */
    background: linear-gradient(45deg, #f3ec78, #af4261);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 10px;
    padding: 10px;
  }
  #inline_name {
    display: flex;
    flex-direction: row;
    margin: 10px;
    /* // vertically align align-items;; */
    align-items: center;
  }
  
  img {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 10px;
  }
  #CommentList {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-items: center;
      align-content: center;
      text-align: center;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 30px;
  }
  
      input {
      
          background: linear-gradient(to bottom right, #43c6ac, #00a8e8);
          margin: 10px;
          padding: 10px;
          border-radius: 10px;
          border: 1px solid #ccc;
          margin: 10px;
          /* shadow */
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          /* transition */
          transition: all 0.3s ease-in-out;
  
  }
  
  
      textarea {
          background: linear-gradient(to bottom right, #43c6ac, #00a8e8);
          max-width: 250px;
          border-radius: 10px;
          border: 1px solid #ccc;
          padding: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
      